html,body{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: -0.01px;
}
@font-face {
    font-family: familybold1;
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: familybold2;
    src: url(font/TTNorms-ExtraBold.woff2);
}
@font-face {
    font-family: family1;
    src: url(font/TTNorms-Regular.woff2);
}
@font-face {
    font-family: family2;
    src: url(font/TTNorms-Medium.woff2);
}
@font-face {
    font-family: family3;
    src: url(font/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2);
}
@font-face {
    font-family: family4;
    src: url(font/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}
.whole{
    width: 100%;
    position: relative;
    z-index: 0;
}
.fixed-head{
    position: fixed;
    top: 0;
    padding: 16px 10px;
    padding-bottom: 15px;
    padding-right: 11px;
    width: 100%;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ebe3e3;
}
.fixed-head img{
    width: 32px;
    height: 18px;
    margin-left: 2px;
}
.fixed-head-div{
    display: flex;
    gap: 8px;
    
}
.imaa{
    display: flex;
    gap: 6px;
}
.invisible{
    display: none;
}
.visible{
    display: flex;
}
.homepage{
    width: 100%;
    height: 551px;
    position: relative;
    background-image: url(img/mobilehome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    padding-right: 24px;
    gap: 8px;
}
.login-button{
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    font-family: familybold1;
    color: black;
    background-color: white;
    height: 32px;
    padding: 0px 12px;
    align-content: center;
    border-radius: 9999px;
}
.signindesk{
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    font-family: familybold1;
    color: white;
    background-color: rgb(235, 23, 0);
    height: 40px;
    padding: 0px 12px;
    align-content: center;
    border-radius: 9999px;
}

.openapp-button{
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    font-family: familybold1;
    color: white;
    background-color: rgb(235, 23, 0);
    height: 32px;
    padding: 0px 12px;
    align-content: center;
    border-radius: 9999px;
}
.signupdesk{
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    font-family: familybold1;
    color: #606060ff;
    background-color: white;
    height: 40px;
    padding: 0px 12px;
    align-content: center;
    border-radius: 9999px;
}
.home-content{
    width: 100%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.our-qoute{
    display: flex;
    justify-content: center;
}
.our-qoute h1{
    color: white;
    max-width: 350px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    font-family: familybold1;
}
.search-field{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchbar{
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 32px;
    padding: 12px;
    padding-left: 16px;
    gap: 13px;
    margin-top: 9px;
}
.searchbar p{
   color: #687284;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: -0.01px;
   font-family: family2;
}
.searchbar img{
    height: 24px;
    width: 24px;
}
#searcharrow{
    margin-left: 10px;
}
.account{
    width: 100%;
    display: flex;
    justify-content: center;
}
.account-inner{
    display: flex;
    background: white;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 9999px;
}
.account-inner img{
    width: 16px;
    height: 16px;
}
.account-inner p{
    font-size: 14px;
    font-family: familybold1;
}
main{
    background: white;
    padding: 20px;
}
.forapp{
    width: 100%;
    display: flex;
    justify-content: center;
}
.playstore{
    max-width: 360px;
    width: 100%;
    height: 141px;
    background: rgb(247,247,247);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid rgb(248, 243, 243);
}
.applogo-plastore{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.applogo-plastore-in{
    background: white;
    padding: 8px;
    border-radius: 12px;
    height: 60px;
    width: 60px;
    border: 1px solid rgb(248, 243, 243);
}
.applogo-plastore-in img{
    height: 40px;
    width: 40px;
}
.app-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: familybold1;
}
#googleplay{
    height: 13px;
    width: 75px;
    margin-bottom: -3px;
}
#app-in-bold{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -4px;
}
#app-in-slim{
    font-size: 14px;
    font-weight: 500;
    color: rgb(96, 96, 96);
    font-family: family2;
}
.red-app{
    background: rgb(235, 23, 0);
    display: flex;
    color: white;
    gap: 4px;
    padding: 8px 12px;
    width: fit-content;
    border-radius: 9999px;
}
#red-app-arrow{
    height: 16px;
    width: 16px;
}
#app-in-red{
    font-size: 14px;
    font-weight: 700;
}
.three-sections{
    margin-top: 40px;
    padding: 24px 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 34px;
}
.three-sec-elem{
    display: flex;
    gap: 31px;
    justify-content: center;
}
.threesec-img img{
    width: 88px;
    height: 88px;
}
.threesec-def{
    max-width: 250px;
    display: flex;
    flex-direction: column;
}
.threesec-def h2{
    font-weight: 700;
    font-size: 32px;
    font-family: familybold1;
    line-height: 40px;
}
.threesec-def h3{
    font-weight: 500;
    font-size: 18px;
    font-family: family2;
    line-height: 24px;
}
.threesec-def span{
    color: rgb(235, 23, 0);
    font-weight: 700;
    font-size: 14px;
    font-family: familybold1;
    margin-top: 14px;
    display: flex;
    gap: 4px;
}
.threesec-def span img{
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.main-background{
    position: absolute;
    background-color: rgb(254, 241, 238);
    width: 100%;
    z-index: 2;
    padding-top: 720px;
    margin-top: 200px;
    margin-left: -20px;
}
.get-groceries{
    width: 100%;
    height: 350px;
    position: relative;
    background-image: url(img/getgrocery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.getgroceries-in{
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.getgroceries-in h2{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 20px;
    max-width: 495px;
    font-family: familybold1;
    text-align: center;
}
.getgrocery-2{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 10px;
    font-family: familybold1;
    text-align: center;
}
.getgrocery-3{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: family2;
    max-width: 550px;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    z-index: 5;
    position: relative;
}
.main-content-elem{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
}
.main-content-elem-img{
    margin-top: 40px;
}
.main-content-elem-img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.main-content-elem-def{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.main-content-elem-def h2{
    width: 90%;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-family: familybold1;
}
#sec-main-def{
    width: 100%;
    margin-top: 10px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    font-family: familybold1;
}
#third-main-def{
    width: 100%;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    font-family: family2;
}
.find-button{
    background: rgb(235, 23, 0);
    width: fit-content;
    padding: 6px 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: familybold1;
    border-radius: 9999px;
    margin-top: 20px;
}
.mainthird{
    margin-top: 350px;
}
.second-pinky{
    width: calc(100% + 40px);
    margin-left: -20px;
    background: rgb(254, 241, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#pinky-1{
    text-align: center;
    max-width: 300px;
    color: black;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-family: familybold1;
    margin-top: 40px;
}
.pinky-scroll{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    
}
.pinkyscroll-elem{
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;

}
.pinky-scroll-img{
    width: 100%;
}
.pinky-scroll-img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.pinky-scrollelem-2{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.pinky-scrollelem-2 h2{
    text-align: center;
    max-width: 90%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    font-family: familybold1;
}
.pinky-scrollelem-2 span{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: family2;
}
.restriction{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    font-family: family2;
}
.opportunity{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
}
.opportunity span{
    text-align: center;
    max-width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-family: familybold1;
}
#sec-cont{
    margin-top: -20px;
}
#second-back{
    margin-top: -685px;
    padding-top: 710px;
}
nav{
    width: 100%;
    padding: 48px 0px;
    max-width: 1130px;
}
nav h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    font-family: familybold1;
}
.three-tops{
    display: flex;
    margin-bottom: 20px;
}
.threetop-elem{
    width: 33.333%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f1f1f1ff;
    color: rgb(73, 73, 73);
    font-family: family2;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
#first-three-top{
    border-bottom: 3px solid #606060ff;
    color: black;
    font-weight: 700;
}
.top-cities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.top-cities div{
    width: 50%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.top-cities div span{
    padding: 0px 12px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: family2;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.footer-div{
    width: 100vw;
    background: #191919ff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.footer-div-inner{
    width: 1184px;
}
footer{
    max-width: 1160px;
    padding: 0 4px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.inn11{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0%;
}
.inn11 h2{
    margin-bottom: 8px;
    color: white;
    font-family: family2;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.firstfootlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.firstfootlist-part1{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.firstfootlist-part1 span{
    margin-top: 8px;
    color: rgb(196, 196, 196);
    font-family: family2;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.inn12{
    display: flex;
    flex-direction: column-reverse;
}
.secondfootlist-part1{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 0%;
    justify-content: space-between;
    gap: 12px;
}
.secondfootlist-part1 div{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}
.secondfootlist-part1 div h2{
    margin-bottom: 8px;
    color: white;
    font-family: family2;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.secondfootlist-part1 div span{
    margin-top: 8px;
    color: rgb(196, 196, 196);
    font-family: family2;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.secondfootlist-part2 div{
    display: flex;
    flex: 1 1 0%;
    padding-top: 32px;
    flex-direction: column;
    align-items: center;
}
.secondfootlist-part2{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: flex-end;
    overflow: hidden;
}
#mobileappss{
    display: flex;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.andro{
    margin-top: 12px;
}
.inn13{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 32px 0px;
}
.footers-foot1{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: row;
}
.footerlogo{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footers-foot1 span{
    margin-left: 16px;
    color: rgb(196, 196, 196);
    font-family: family2;
    font-size: 12px;
    font-family: 500;
    line-height: 18px;
}
.footers-foot2{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.language{
    width: 150px;
}
.footers-foot3{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.language-inner{
    min-height: 32px;
    width: 100%;
    font-family: family2;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #191919ff;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 4px 12px;
    background-color: #f1f1f1ff;
}
.globe{
    max-width: 100%;
    margin-right: 8PX;
    display: grid;
    place-content: center;
}
.afterglobe{
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.afterglobe div{
    background: inherit;
    margin-left: -9px;
}
.afterglobe div img{
    vertical-align: middle;
}
.socialmedias{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    gap: 12px;
    opacity: 0.7;
    margin-bottom: 5px;
}
@media (min-width: 382px){
    .main-background{
        padding-top: 690px;
    }
}
@media (min-width: 429px){
    .main-background{
        padding-top: 670px;
    }
}
@media (min-width: 437px){
    .main-background{
        margin-top: 170px;
        padding-top: 672px;
    }
}
@media (min-width: 447px){
    .main-background{
        padding-top: 652px;
    }
}
@media (min-width: 471px){
    #second-back{
        margin-top: -660px;
        padding-top: 685px;
    }
}
@media (max-width: 767px){
    .signindesk, .signupdesk{
        display: none;
    }
    #deski{
        display: none;
    }
}
@media(min-width: 768px){
    .homepage{
        height: 650px;
        background-image: url(img/desktop.webp);
    }
    #mobi{
        display: none;
    }
    .name{
        position: absolute;
        margin-top: -162px;
    }
    .searchbar{
        padding: 16px;
        width: 408px;
    }
    .searchbar p{
        width: 292px;
    }
    .searchbar img{
        margin-left: 5px;
    }
    .our-qoute{
        margin-top: 80px;
    }
    .threesec-img img{
        width: 124px;
        height: 124px;
        margin-right: 33px;
    }
    .three-sections{
        margin-top: 12px;
    }
    .main-content{
        margin-top: 13px;
    }
    .main-content-elem{
        flex-direction: row-reverse;
        gap: 60px;
        margin-top: 40px;
    }
    .main-content-elem-img{
        margin: 0;
    }
    .main-content-elem-img img{
        height: 500px;
        width: 100%;
        max-width: 695.02px;
    }
    .main-content-elem-def{
        justify-content: center;
        max-width: 400px;
    }
    .main-content-elem-def h2{
        margin-top: 22px;
        max-width: 90%;
        width: auto;
        font-size: 40px;
        line-height: 40px;
    }
    #sec-main-def{
        margin-top: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    #third-main-def{
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
    }
    .find-button{
        margin-top: 30px;
        font-size: 16px;
        line-height: 22px;
        padding: 9px 12px;
    }
    #even{
        flex-direction: row;
    }
    #even img{
        max-width: 724px;
    }
    .main-background{
        margin-top: 500px;
        padding-top: 650px;
    }
    .mainthird{
        margin-top: 700px;
    }
    .get-groceries{
        height: 600px;
    }
    .getgroceries-in h2{
        margin-top: 100px;
        font-size: 40px;
        line-height: 40px;
    }
    .getgrocery-2{
        margin-top: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .getgrocery-3{
        font-size: 16px;
        line-height: 22px;
    }
    #pinky-1{
        margin-top: 60px;
        font-size: 32px;
        line-height: 40px;
        max-width: 500px;
        margin-bottom: 40px;
    }
    .pinky-scroll{
       overflow-x: hidden;
       flex-wrap: wrap;
       max-width: 1184px; 
    }
    .pinkyscroll-elem{
        max-width: 50%;
        min-width: 50%;
        margin: 0;
    }
    .pinky-scroll-img img{
        height: 100%;
        width: 100%;
        object-position: center;
    }
    .pinky-scrollelem-2 h2{
        font-size: 40px;
        line-height: 40px;
    }
    .pinky-scrollelem-2 span{
        font-size: 16px;
        line-height: 22px;
    }
    .opportunity span{
        max-width: 500px;
        font-size: 32px;
        line-height: 40px;
        margin-top: 20px;
    }
    #sec-cont{
        margin-top: 0px;
    }
    #second-back{
        margin-top: -600px;
        padding-top: 625px
    }
    nav h2{
        font-size: 32px;
        line-height: 40px;
    }
    .top-cities div{
        width: 33.333%;
    }
    footer{
        padding: 0 20px;
    }
    .inn11{
        text-align: start;
    }
    .firstfootlist{
        flex-direction: row;
    }
    .secondfootlist-part1{
        flex-direction: row;
        text-align: start;
    }
    .inn13{
        flex-direction: row;
        justify-content: space-between;
    }
    .second-pinky{
        margin-top: -20px;
    }
}
@media(min-width: 769px){
    .our-qoute{
        margin-top: 88px;
    }
    .our-qoute h1{
        max-width: 750px;
        font-size: 40px;
        line-height: 40px;
    }
    .fixed-head{
        padding: 16px 46px;
        padding-right: 48px;
    }
}
@media (max-width: 959px){
    .deskilong{
        display: none;
    }
}
@media (min-width: 960px){
    .logo img{
        width: 43px;
        height: auto;
    }
    .doordash img{
        width: 155px;
    }
    .name{
        gap: 12px;
    }
    .our-qoute{
        margin-top: 91px;
    }
    .deskishort{
        display: none;
    }
    .top-cities div{
        width: 20%;
    }
    .inn12{
        flex-direction: row;
    }
    #mobileappss{
        max-height: 52px;
    }
    .secondfootlist-part2 div{
        align-items: flex-end;
        justify-content: flex-start;
    }
}
@media (max-width: 1183px){
    .searcharrowsec{
        display: none;
    }
}
@media (min-width: 1184px){
    #searcharrow{
        display: none;
    }
    .searcharrowsec{
        background-color: rgb(235, 23, 0);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: grid;
        place-content: center;
    }
    .searchbar{
        padding: 8px 5px;
        padding-right: 0;
        padding-left: 15px;
    }
    .three-sections{
        margin-top: 60px;
        flex-direction: row;
        gap: 100px
    }
    .three-sec-elem{
        flex-direction: column;
        align-items: center;
    }
    .threesec-def{
        text-align: center;
        align-items: center;
    }
    .threesec-img img{
        width: 154px;
        height: 154px;
        margin-right: 0;
    }
    .threesec-def span{
        font-size: 18px;
    }
    .threesec-def span img{
        margin-top: 3px;
    }
    .main-content-elem{
        justify-content: center;
    }
    nav{
        margin: 0 auto;
    }
}

200